# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
Thumbs.db
ehthumbs.db
*.bak
*.tmp

# Git related
*.orig

# Secret & Credentials
service-account.json
Backend/service-account.json
*.pem
*.crt
*.key
*.pfx
*.cer
config.json
secrets.json

# Ignore build artifacts
dist/
out/
.tmp/

# Ignore coverage files
.nyc_output
coverage
