.home {
  display: flex;
  overflow: hidden; /* Ensure no overflow outside the container */
  height: 100vh; /* Full height of the viewport */
  
}
.homeContainer {
  /* margin-left: 250px;  */
  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;

  overflow-y: auto; /* Allow scrolling within the content area */
  height: 100vh; /* Full height of the viewport */
}

.widgets, .charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.chart {
  flex: 4;
  max-height: 400px; /* Set a max height */
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  color: gray;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart:hover {
  transform: translateY(-5px);
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.2);
}

.chartTitle {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.chartGrid {
  stroke: rgba(228, 225, 225, 0.8);
}

.featured {
  flex: 2;
  max-height: 600px; /* Set a max height */
  background: linear-gradient(135deg, #ffcc80, #ff7200);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.featured:hover {
  transform: translateY(-5px);
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.2);
}

.charts-container {
  display: flex;
  flex-direction: column; /* Stack charts vertically */
  gap: 20px; /* Space between charts */
  padding: 20px;
}

.btn-text {
  color: #FFFF;

}
.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 20px;
  width: 95%; /* Ensure the container takes up full width */
  padding-right: 20px; /* Optional: Add padding to the right for spacing */

}

/* Filter Button Styles */
.filter-btn {
  background-color: #28a745; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 30px;
padding-left: 18px;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;

;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth background color transition and button scale */
}

.filter-btn:hover {
  background-color: #218838; /* Darker green on hover */
}

.filter-btn:active {
  transform: scale(0.98); /* Slightly shrink the button on click */
}
